//HEY GUYS THE ABSOLUTELY SHIT FUCKING AWFUL COLORS ARE TEMPORARY
//THANKS


body
{
    font-family: 'Roboto', Wasco Sans, Lucida Sans, sans-serif; 
    margin: 0px;
}

#logo
{
    position: absolute;
    width: calc(75px - 8px);
    height: calc(75px - 8px);
    padding: 4px;
}

.navBar
{
    width: 100%;
    height: 75px;
    background-color: pink;

}

.navBar table
{
    width: 40%;
    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 75px;
    text-align: center;
    color: red;
    border-spacing: 0px;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size: 20px;
}

.navBar tr
{
    background-color: black;
}

.navBar td
{
    padding: 0 0 0 0;
}

#navSpacer
{
    background-color: rgba(0,0,0,0);
    width: 7px;
    height: calc(67px - 8px);
    padding-top: 4px;
    padding-bottom: 4px;
}
