/* This is a CSS File. Open them with a forward slash and asterisk. Close them by reversing it (asterisk, then forward slash). 

INFORMATION

File Type: Cascading Style Sheet
Definition: The main CSS file for the Tech Crew Web Site.
Used By: index.html [...]
Last Edited By: Altman, Robert J.

*/

body 
{
	/* Set CSS Attributes for the main elements of a page, in the body (hint: affects a lot) */
	font-family: 'Roboto', Wasco Sans, Lucida Sans, sans-serif; /* Likely to be changed, but I love Roboto, and you'll see I linked it too in HTML, as it needs to refer to Google Fonts to grab it. */
        margin: 0 0 0 0
}

#sampleDiv
{
	/* A sample "Div ID" that shows how it is referenced in CSS so as to connect to <div> with the same ID in the actual HTML pages. */
}

.sampleClass 
{
	/* A sample class, which can be a style "set" that can be applied to quite a bit of elements on a page. */
}

.navBar
{
    width: 100%;
    height: 200px;
    background-color: pink;
}