

div.titlebar {


	background-color:maroon;
	width:100%;
	height:5%;
	text-align:center;
	font-size:56px;

}

div.parentdiv1 {

	background-color:maroon;
	position:fixed;
	height:20%;
	width:99%;
	


}

div.javabar {
	background-color:maroon;
	color:silver;
	height:5%;
	width:99%;
	text-align: center;
	position:absolute;
	top:85px;

}


body.background {

	color:silver;

}

table.selections{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	width:80%;
	font-size: 25px;
	background-color:maroon;
}

div.contentbody {
	background-color:maroon;
	color:silver;
	position:fixed;
	top:150px;
	height:100%;
	width:99%;
}

td.homehover:hover {

	background-color:silver;
	color:maroon;
}

td.membershover:hover {

	background-color: silver;
	color:maroon;
}

td.projectshover:hover {

	background-color: silver;
	color:maroon;
}

td.resourceshover:hover {

	background-color: silver;
	color:maroon;
}

header.aboutheader{

	font-size: 32px;
	text-align: center;

}
