

div.titlebar {


	background-color:maroon;
	width:97.25%;
	height:5%;
	text-align:center;
	font-size:56px;
	position: absolute;


}

div.parentdiv1 {

	background-color:maroon;
	border-width:10px;
	border-style: outset;
	border-color:silver;
	position:fixed;
	height:20%;
	width:97.25%;
	z-index: 1000;


}

div.javabar {
	background-color:maroon;
	color:silver;
	height:5%;
	width:95%;
	text-align: center;
	position:fixed;
	top:85px;

}


body.background {

	color: silver;
	background-color: maroon;

}

table.selections{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	width:100%;
	font-size: 25px;
	background-color:maroon;
}

div.contentbody {
	background-color:maroon;
	color:silver;
	position:relative;
	top:161px;
	height:100%;
	width:98.4%;


}

td.homehover:hover {

	background-color:silver;
	color:maroon;

}

td.membershover:hover {

	background-color: silver;
	color:maroon;
}

td.projectshover:hover {

	background-color: silver;
	color:maroon;
}

td.resourceshover:hover {

	background-color: silver;
	color:maroon;
}

header.baseheader{

	font-size: 32px;
	text-align: center;
	position:fixed;
	

}

div.inner{

	position:absolute;
}

div.projects{

	opacity:0;
}
div.resources{
	opacity:0;
}

div.members{
	opacity:0;
}
